.carrousel {
  position: relative;
  margin: 0 auto;
  max-width: 1600px;
  @include verticalCenter;
  @media screen and (max-width: 1800px) {
    margin: 0 10%;
  }

  .carrousselImg {
    border-radius: 20px;
    width: 100%;
    height: 45vh;
    background: center/cover;
    object-fit: cover;
    @media screen and (max-width: 1000px) {
      height: 30vh;
    }
  }
  .btn {
    @include verticalCenter;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    padding: 1%;
    img {
      width: 4%;
    }
  }
  .countImg {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    @media screen and (max-width: 800px) {
      display: none;
    }
    .counter {
      color: $white;
      font-size: 18px;
      text-shadow: 0 0 100px black;
    }
  }
}
