.collapse {
  margin: 3% 20%;

  &:last-of-type {
    margin-bottom: 5%;
  }

  .collapse-title {
    user-select: none;
    background: $color-1;
    border-radius: 5px;
    height: 47px;
    @include verticalCenter;
    justify-content: space-between;
    padding: 3%;
    h3 {
      font-size: 24px;
      font-weight: 500;
      line-height: 34px;
      color: $white;
    }
    img {
      width: 24px;
    }
    &:hover {
      cursor: pointer;
    }
  }

  .collapse-content {
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    padding: 3%;
    color: $color-1;
  }
}
