.footer {
  background-color: black;
  height: 20vh;
  color: $white;
  @include verticalCenter;
  text-align: center;
  flex-direction: column;
  .logo {
    text-align: center;
    img {
      margin: 30% 0 20% 0;
      color: white;
    }
  }
  .copyright {
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
  }
}
