.kasaCards-content {
  margin: 4% auto;
  max-width: 1600px;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #f6f6f6;
  border-radius: 20px;
  @media screen and (max-width: 1800px) {
    margin: 4% 10%;
  }

  .kasaCards {
    // flex: 0 0 calc(33.33% - 4%);
    // flex-basis: calc(33.33% - 4%);
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 2%;
    background-image: $color-Gradient;
    background: center/cover;
    border-radius: 10px;
    min-width: 335px;
    min-height: 255px;
    width: 340px;
    height: 340px;
    max-width: 440px;
    @media screen and (max-width: 990px) {
      max-width: none;
    }

    &:hover {
      cursor: pointer;
    }
    h2 {
      font-size: 18px;
      line-height: 25px;
      color: $white;
      margin: 0 0 5% 5%;
      max-width: 65%;
      word-wrap: break-word;
      text-shadow: 1px 1px #000;
    }
  }
}
