.page-404 {
  .navigation {
    margin-bottom: 0;
    .nav-active {
      display: none;
    }
  }
  .page404 {
    color: $color-1;
    @include verticalCenter;
    flex-direction: column;
    h3 {
      font-size: 288px;
      font-weight: 700;
    }
    span {
      font-size: 36px;
      font-weight: 500;
      line-height: 51px;
    }
    .homeLink {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
      margin: 8% auto;
    }
  }
}
