@font-face {
  font-family: "Montserrat";
  src: url("https://fonts.gstatic.com/s/montserrat/v15/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf")
    format("truetype");
}

$font-1: "Montserrat", sans-serif;

$color-1: #ff6060;
$color-Gradient: linear-gradient(
  360deg,
  rgba(134, 52, 52, 1) 0%,
  rgba(255, 98, 98, 1) 100%
);
$color-3: #282c34;
$white: #ffffff;

$bg-img-home: url("../assets/img/homeImg.jpg");
$bg-img-about: url("../assets/img/aboutImg.jpg");

@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-1;

  // @include verticalCenter;
}
li {
  list-style-type: none;
}
a,
a:visited {
  color: $color-1;
  text-decoration: none;
}
